/*this tells every element on the page to not have any margin or border unless we tell it to.*/
* {
    margin: 0;
    padding: 0;
}

header {
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    align-items: flex-end;
    position: relative;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: cadetblue;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: cadetblue;
  }

header nav {
    float: right;
    margin: 7px 0;
  }

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

header nav ul li {
    font-weight: bold;
    font-size: 44px;
    color: cadetblue;
    margin: 0;
}

/*cool subtitle section*/
#banner {
    background-image: ;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

/*footer*/
footer {
    background-color: black;
    color: cadetblue;
    width: 100%;
    padding: 10px 20px 10px 20px;
    justify-content: space-evenly;
}

footer h2 {
    font-size: 50px;
}
